<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign in</title>

  <style>
    /* Add custom styles for the image */
    #login-image {
      width: 200px; /* Adjust the width as needed */
      height: auto; /* Maintain aspect ratio */
      margin-bottom: 1px; /* Add some spacing below the image */
    }
    
    body {
      overflow: hidden;
    }
  </style>

</head>
<body>
<!-- partial:index.partial.html -->
<div id="login-form-wrap">
  <img id="login-image" src="\assets\img\dicrm__1_-removebg-preview.png" alt="Login Image">
  <h2>Sign in</h2>
  <form id="login-form" (submit)="login()">
    <p>
      <input type="text" id="username" name="username" placeholder="Username" [(ngModel)]="username" required>
      <i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="email" id="email" name="email" placeholder="Email Address" [(ngModel)]="email" required>
      <i class="validation"><span></span><span></span></i>
    </p>
    <p>
        <input type="password" id="password" name="password" placeholder="Password" [(ngModel)]="password" required>
        <i class="validation"><span></span><span></span></i>
      </p>
    <p>
      <input type="submit" id="login" value="Submit">  
    </p>
  </form>
  <div id="create-account-wrap">
    <p>Not a member? <a href="https://www.vermeg.com/fr/contactez-nous/">Check our TechTeam</a></p>
  </div><!--create-account-wrap-->
</div><!--login-form-wrap-->
<!-- partial -->

</body>
</html>
