<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign in</title>

  <style>
    /* Add custom styles for the image */
    #login-image {
      width: 180px; /* Adjust the width as needed */
      height: auto; /* Maintain aspect ratio */
      margin-bottom: 7px; /* Add some spacing below the image */
    }
    
    body {
      background-image: url('/assets/img/Side.jpg'); /* Replace 'background-image.jpg' with the path to your background image */
      background-size: cover; /* Adjust the background image sizing */
      overflow: hidden;
    }
  </style>

  <!-- Add reCAPTCHA script -->
  <script src="https://www.google.com/recaptcha/api.js?render=6Ld-IBsmAAAAAJuvC4nyQYesf8484kE9nrDmyUgG" async defer></script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var form = document.getElementById('login-form');
      form.addEventListener('submit', function(event) {
        event.preventDefault();
        grecaptcha.ready(function() {
          grecaptcha.execute('6Ld-IBsmAAAAAJuvC4nyQYesf8484kE9nrDmyUgG', { action: 'login' }).then(function(token) {
            document.getElementById('recaptchaToken').value = token;
            document.getElementById('login-form').submit();
          });
        });
      });
    });
  </script>
</head>
<body>
  <div id="login-form-wrap">
    <img id="login-image" src="/assets/img/dicrm.png" alt="Login Image">
    <h3>Login in</h3>
    <form id="login-form" (ngSubmit)="handleFormSubmit($event)">
      <p>
        <input type="text" id="username" name="username" placeholder="Username" required [(ngModel)]="username">
        <i class="validation"><span></span><span></span></i>
      </p>
      <p>
        <input type="email" id="email" name="email" placeholder="Email Address" required [(ngModel)]="email">
        <i class="validation"><span></span><span></span></i>
      </p>
      <p>
        <input type="password" id="password" name="password" placeholder="Password" required [(ngModel)]="password">
        <i class="validation"><span></span><span></span></i>
      </p>
      <input type="hidden" id="recaptchaToken" name="recaptchaToken">
      <p>
        <input type="submit" id="login" value="Submit">  
      </p>
    </form>
    <div id="create-account-wrap">
     <!-- <p><a href="#" style="color: red;">Forgot Password?</a></p>-->
      <p>Not a member? <a href="https://www.vermeg.com/fr/contactez-nous/">Check our TechTeam</a></p>
    </div><!--create-account-wrap-->
  </div><!--login-form-wrap-->

</body>
</html>
