<div class="sidebar-wrapper">
    <div class="logo">
      <a class="simple-text">
        <div class="logo-img">
          <img src="\assets\img\1200px-Vermeg_logo.svg.png" style="width: 200px; height: 35px;" />
        </div>
      </a>
    </div>
 
    <ul class="nav responsive-nav">
  
      
    
      <li *ngIf="isMobileMenu()">
        <a href="http://localhost:4200/#/user">
          <p>Account</p>
        </a>
      </li>
  
      <li *ngIf="isMobileMenu()">
        <a (click)="logout()">
          <p>Logout</p>
        </a>
      </li>
   
      <li class="separator hidden-lg hidden-md" *ngIf="isMobileMenu()"></li>
      
      <li routerLinkActive="active">
        <a routerLink="/home">
          <i class="pe-7s-home"></i>
          <p>Home</p>
        </a>
      </li>
      
      <li routerLinkActive="active">
        <a routerLink="/dashboard">
          <i class="pe-7s-graph"></i>
          <p>General Dashboard</p>
        </a>
      </li>
      
      <li routerLinkActive="active">
        <a routerLink="/deals">
          <i class="pe-7s-note2"></i>
          <p>Sales Deals</p>
        </a>
      </li>
      <li >

        <a>
          <button class="dropdown-btn" (click)="dropdown()" >CUSTOMERS
            <i class="pe-7s-users"></i>
          </button>
          <div class="dropdown-container" routerLinkActive="active">
         
            <li>
              <a [routerLink]="'/table'">
                <i class="pe-7s-id"></i>
                <p>Customers info</p>
              </a>
            </li>
            <li>
              <a [routerLink]="'/customersatisfaction'">
                <i class="pe-7s-smile"></i>
                <p>Customer Satisfaction</p>
              </a>
            </li>
            <li>
              <a [routerLink]="'/maps'">
                <i class="pe-7s-map-2"></i>
                <p>World Wide Customers</p>
              </a>
            </li>
          </div>
        </a>
      </li>
      
      <!-- Repeat the same structure for other items you want to display -->
      
      <li routerLinkActive="active">
        <a routerLink="/Monitary">
          <i class="pe-7s-cash"></i>
          <p>Monitary Details</p>
        </a>
      </li>
      
      <li routerLinkActive="active">
        <a routerLink="/notifications">
          <i class="pe-7s-target"></i>
          <p>Employee Tracking</p>
        </a>
      </li>
      
      <li routerLinkActive="active">
        <a routerLink="/user">
          <i class="pe-7s-user"></i>
          <p>User Profile</p>
        </a>
      </li>
      
      <li routerLinkActive="active" class="active-pro">
        <a routerLink="/Competitor">
          <i class="pe-7s-look"></i>
          <p>View on the market</p>
        </a>
      </li>
      
   
      
    </ul>
    
  </div>
  